/* Base */
@import 'tailwindcss/base';

/* Component */
@import 'tailwindcss/components';

/* purgecss start ignore */
@import 'components/accounts.css';
@import 'components/buttons.css';
@import 'components/cart-drawer.css';
@import 'components/image.css';
@import 'components/page-transition.css';
/* purgecss end ignore */

/* Utilities */
@import 'tailwindcss/utilities';

/* purgecss ignore */
#preview-bar-iframe, .none {
  display: none !important;
}