<footer class='container mx-auto px-4'>
  <div class='flex items-center justify-between'>
    {% assign footer_menu = section.settings.footer_menu %}

    {% if linklists[footer_menu].links.size > 0 %}
      <ul class='flex items-center'>
        {% for link in linklists[footer_menu].links %}
          <li class='mr-4 pr-4'><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
    <div class=''>
      {% if customer %}
        <a href="/account">Account</a>
      {% else %}
        <a href="/account/login">Log In</a>
      {% endif %}
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_menu",
        "label": "First menu",
        "default": "footer"
      }
    ]
  }
{% endschema %}
