{% comment %}
  Considerations for the header:
    1. Schema.org tags
      - <h1 itemscope itemtype='http://schema.org/Organization'>
      - itemprop [url, logo] etc
{% endcomment %}

<header role='banner' id='header' data-component='header' class='py-12'>
  <div class='container mx-auto px-4'>
    <div class='flex items-center justify-between'>
      <h1 itemscope itemtype='http://schema.org/Organization'>
        <a href='/'>slater</a>
      </h1>
      <div>
        <a href='/cart' class='block js-cart-drawer-toggle'>
          Cart
          (<span class='js-cart-count'>{{ cart.item_count }}</span>)
        </a>
      </div>
    </div>
  </div>
</header>
